<?xml version="1.0"?>
<configuration>
		<startup>
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
		</startup>
    <appSettings>
      <add key="PathQfx" value="E:\Google Drive\Personal\SBM"/>
      <add key="PathFuellyLog" value="E:\Google Drive\Personal\Bills\Shell\Fuelly"/>
      <add key="QuickenPath" value="C:\Program Files (x86)\Quicken\qw.exe"/>
      <add key="SettingsFile" value="E:\Google Drive\WinApp\CSV2QFX\data\settings.ini"/>
      <add key="AccountsFile" value="E:\Google Drive\WinApp\CSV2QFX\data\accounts.ini"/>
    </appSettings>
</configuration>
